name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          latexmk_use_lualatex: true

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: compiled-book
          path: main.pdf

      - name: Prepare deploy folder
        run: |
          mkdir deploy
          cp main.pdf deploy/

      - name: Deploy PDF to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: deploy
          keep_files: false

      - name: Upload to Release (Release Only)
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            main.pdf
          token: ${{ secrets.GITHUB_TOKEN }}

